body{
    background: rgba(0, 0, 0, 0.9);
    margin: 0;
    color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #f3f3f3;
    float: center;
}

.navbar li {
    float: left;
    padding: 10px;
    list-style-type: none;
}

.navbar li a {
    display: block;
    color: #666;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar a {
    text-decoration: none;
    color: #f4f4f4;
}

.navbar li a:hover:not(.active) {
    background-color: rgb(45, 183, 218);
    border-radius: 9px;
}

.navbar li a.active {
    color: white;
    background-color: rgb(76, 175, 80);
    border-radius: 9px;
}