Section {
    background-color: whitesmoke;
    border-top: #333 1px solid;
    height: 100%;
    color: black;
    margin: 0;
    padding: 0 5%  0% 5% ;
}

.line {
    border-bottom: #333 1px solid;
}

.tag_dis {
    font-size: 10px;
    background-color: darkgreen;
    color: #f4f4f4;
    width: 100px;
    text-align: center;
    border-radius: 25rem;
}

.profile_user {
    padding-bottom: 50px;
}

.profile_user h1 {
    padding-left: 100px;
    font-size: 1.25rem;
    color:rgb(39, 146, 233);
}

.profile_user img {
    height: 70px;
    width: 70px;
    border-radius: 50%;
    float: left;
}

.quest {
    padding: 0 3% 3% 3%;
    display: inline-block;
    border: 2px #333 solid;    
}

.bg-dark{
    background: #333;
    color: #f4f4f4;
}

.answers .number {
    float: left;
    margin-top: -0.25rem;
}

.answers .answer_user {
    padding-left: 1.8rem;
}

.answers img {
    height: 20px;
    width: 20px;
    border-radius: 50%;
}

.answers span {
    color: lightgray;
    font-size: 10px;
}

.comments textarea {
    margin-top: 5%;
    margin-bottom: 3%;
    width: 100%;
    border: #333 2px solid;
    border-radius: 7px;
}

 button {
    display: inline-block;
    min-width: 110px;
    margin: 15px 0px;
    padding: 10px 15px 12px;
    border-radius: 3px;
    box-shadow: inset 0 -1px 0 1px rgba(0,0,0,.1), inset 0 -10px 20px rgba(0,0,0,.1);
    cursor: pointer;
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0,0,0,.2);
    background: #59d;
    border-radius: 10px;
    font-size: 15px;
}

.comments button:active{
    background: #1ad82a;
}

.vote button:active{
    background: rgb(207, 82, 44)
}

.vote h3{
    float: right;
    margin-right: 15%;
}
